h1 { 
	font-size:1.2em; 
}
a {
	color: #548dc4; text-decoration: none; cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
table.testgrid {
	border-collapse: collapse; border: 1px solid #CCB; width: 500px;
}
table.testgrid td, table.testgrid th {
	padding: 5px; border: 1px solid #E0E0E0; 
}
table.testgrid th {
	background: #E5E5E5; text-align: left;
}
input.invalid {
	background: red; color: #FDFDFD;
}
tr {
	min-height: 28px;
}